* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Recursive', 'Righteous';
    
}

header {
    width: 127.8px;
    height: 30px;
    display: flex;
    font-family: 'Righteous';
    font-weight: 400;
    line-height: 25px;
    font-size: 20px;
    color: #FFFFFF;
    line-height: 25px;
    margin-top: 22px;
    margin-bottom: 38px;
    margin-left: 22px;
}

header h1 {
    margin-left: 7px;
}


main {
    width: 183;
    height: 420px;
}

.perguntas {
    Width: 182px;
    Height: 40px;
    margin-bottom: 5px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-color: white;
}

.perguntas p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin-left: 6px;
}

ion-icon {
    margin-right: 10px;
}

footer {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #333333;
}

.primeira-tela img {
    margin-top: 90px;
}

.primeira-tela h1 {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    margin-left: 17px;
}

.botao {
    width: 141px;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #D70900;
    margin-top: 70px;
}

.tela-2 {
    width: 180px;
    height: 51px;
    background-color: #FFFFD4;
    margin-bottom: 5px;
    font-size: 14px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.tela-2 p {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    margin-left: 7px;
}

.tela-2 img {
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
    font-size: 7px;
    position: relative;
    bottom: 0px;
    margin-top: 10px;
}

.tela-3 {
    width: 180px;
    height: 71px;
    background-color: #FFFFD4;
    margin-bottom: 5px;
    font-size: 14px;
    background: #FFFFD5;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.tela-3 h1 {
    font-family: 'Recursive';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #333333;
    display: flex;
    justify-content: flex-start;
    margin-left: 7px;
    margin-top: 10px;
}

.botao-tela3red {
    width: 50px;
    height: 25px;
    font-size: 7px;
    margin-top: 13px;
    margin-bottom: 5px;
    background: #FF3030;
    border-radius: 5px;
}

.botao-tela3orange {
    width: 50px;
    height: 25px;
    font-size: 6px;
    margin-top: 13px;
    margin-bottom: 5px;
    background: #FF922E;
    border-radius: 5px;
}


.botao-tela3green {
    width: 50px;
    height: 25px;
    font-size: 7px;
    margin-top: 13px;
    margin-bottom: 13px;
    background: #2FBE34;
    border-radius: 5px;
}



.perguntas.red {
    color: #FF3030 !important;
    text-decoration: line-through #FF3030;

}

.perguntas.green {
    color: #2FBE34 !important;
    text-decoration: line-through #2FBE34;
}

.perguntas.orange {
    color: #FF922E !important;
    text-decoration: line-through #FF922E;
}
